<?php
/* 
 * QMID's general configuration.
 * TODO: Translate to real conf, no code.
 */
 
 define('IMAP2_HEADERS', "BCC, CC, FROM, SUBJECT, TO");
 define('DATEFORMAT',   "d/m/Y@H:i:s");
 define('LOGFILE',      "/var/log/qmid.log");
 define('IMAP_HOST',    "localhost");
 define('IMAP_PORT',    "993");
 define('IMAP_USER',    "user@domain.com");
 define('IMAP_PASS',    "mypass");
 define('IMAP_INBOX',   "INBOX");
 define('IMAP_OPTIONS', "/imap/ssl/novalidate-cert");
 define('ERRORLEVEL',   "E_ALL ^ E_NOTICE ^ E_WARNING");

?>
