# ====================================================================================================
# QMID: Queru's mail IMAP dispatcher.
# ....................................................................................................
# Mail dispatching rules.
#
# Name: |Type: |String: |Action:
#
# - Name...: Free descriptive string.
#
# - Type...: HEAD:<header name> (Search by headers).
#            TEXT (Search by whole message text).
#
# - String.: String to match at given search type.
#
# - Action.: What to do when match.
#            MOVE:<mailbox> (Move message to given mailbox. Ex: MOVE:Lists.php-devel).
#            COPY:<mailbox> (Copy to given mailbox. Ex. COPY:.Important).
#            DEL            (Delete message).
#
# ----------------------------------------------------------------------------------------------------
# NOTE: php's imap implementation, based on c-imap library (imap2), cannot do a real HEADER search.
#       Then, the only headers that can be searched by index are: BCC, CC, FROM, SUBJECT, and TO.
#       We are simulating all other header search with full text search at very less speed, BUT IT
#       DOES NOT WORK either. I tried to use the IMAP4 "HEADER" tag, with no results.
#       AT THE END: We can only search by standard headers or in the body of the messages with actual
#       php implementation. Sorry.
# ====================================================================================================

# ==========[Lists]===========================================================================

Symfony-devs |HEAD:List-Id  |symfony-devs.googlegroups.com  |MOVE:Lists.Symfony
Symfony-users|HEAD:List-Id  |symfony-users.googlegroups.com |MOVE:Lists.Symfony
Symfony-es   |HEAD:List-Id  |symfony-es                     |MOVE:Lists.Symfony

# ==========[News]============================================================================
Google Alerts |HEAD:From   |googlealerts-noreply@google.com |MOVE:News
debian        |HEAD:List-Id|debian-news                     |MOVE:News

# ==========[People]==========================================================================
# Work:
All work |HEAD:From |@myenterprise.com |MOVE:People.Work

# ==========[Spam]============================================================================
Spam BBVA2       |HEAD:From   |BBVA@bbva-secure.es     |MOVE:Junk
Spam promoway    |HEAD:From   |promoway                |MOVE:Junk
Spam bongostudio |HEAD:From   |info@bongostudio.es     |MOVE:Junk
Spam interservi  |HEAD:From   |info@interservi.info    |MOVE:Junk
SPAM             |HEAD:Subject|\*\*\*SPAM\*\*\*        |MOVE:Junk
Spam french      |HEAD:Subject|Le Cash et les Cadeaux  |DELETE

# ==================[Spam by TEXT]=====================================================================
Spam VIAzzGRA    |TEXT|VIAzzGRA                                                   |MOVE:Junk
Spam CIAzzLIS    |TEXT|CIAzzLIS                                                   |MOVE:Junk
Spam Portugales  |TEXT|Ofrecimiento de cooperacion para los espanoles y portugales|MOVE:Junk
Spam Relojes     |TEXT|Vive y deja a amante                                       |MOVE:Junk
Spam Nicandro    |TEXT|Nicandro@westconsl.com                                     |MOVE:Junk
Spam Portugales  |TEXT|Ofrecimiento de cooperacion para los espanoles y portugales|MOVE:Junk
Spam Relojes     |TEXT|Gucci, Rolex o Patek Philippe                              |DELETE
